.cart-description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  img {
    margin-right: 10px;
  }
}

.mini-cart {
  text-decoration: none;
  position: relative;
  margin-left: 20px;
  line-height: 0;

  span {
    position: absolute;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $alert;
    color: $white;
    text-align: center;
    line-height: 16px;
    top: 0;
    right: -9px;
    border: 1px solid $white;
    letter-spacing: -1px;
  }

  svg {
    fill: $white;
    font-size: 32px;
  }
}

.user-icon,
.usermenu-container {
  i {
    font-size: 28px;
    color: $white;
    margin-left: 16px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $color-1;
    }
  }
}

.totalPrice {
  font-size: 18px;
  margin-right: 10px;
}

.usermenu-container {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 20px;
    background: $success;
    top: 0;
    right: 0;
  }
}
