.cart-description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  img {
    margin-right: 10px;
  }
}

.mini-cart {
  text-decoration: none;
  position: relative;
  margin-left: 20px;
  line-height: 0;
  background: transparent;
  border: 0 none;
  cursor: pointer;

  span {
    position: absolute;
    font-size: 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    color: $black;
    text-align: center;
    line-height: 10px;
    top: 0;
    right: -3px;
    border: 1px solid $black;

  }


}

.user-icon {
  img {
    width: 30px;
    height: 30px;
    vertical-align: baseline;
  }
}

.user-icon,
.usermenu-container {
  i {
    font-size: 22px;
    color: $white;
    margin-left: 16px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $color-1;
    }
  }
}

.totalPrice {
  font-size: 14px;
  margin-right: 10px;
}

.usermenu-container {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 20px;
    background: $success;
    top: 0;
    right: 0;
  }
}

.removeCancel {
  font-size: 20px;
  color: $alert;
  cursor: pointer;
  margin-left: 12px;
}

.cart-totals-container {
  border: 1px solid $color-3;
}

.cart-totals-row {
  padding: 8px;
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;

  &.bold {
    font-weight: 700;
  }

  &:last-child {
    margin-bottom: 0;
    font-size: 16px;
  }
}

.cart-totals-name {
  padding-right: 12px;
}

.cart-totals-value {
  font-weight: 700;
}

.cart-item-initial-price {
  margin-right: 10px;
  font-size: 10px;
  text-decoration: line-through;
  color: $black;
}

.cart-totals-row-title {
  background: $white;
  margin-bottom: 0;
  color: $black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 1px solid $color-3;
}

.icon-shopping-basket {
  font-size: 26px;
  color: $white;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $color-1;
  }
}

.cart-item-image {
  max-width: 100px;
  max-height: 100px;
}

.mini-cart-drawer-wrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .cart-item-image {
    max-width: 30px;
  }
}

.mini-cart-drawer-flex {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  >div:first-child {
    width: 140px;
  }

  >div:nth-child(2) {
    max-width: 40px;
    text-align: center;
  }

  .cart-item-initial-price,
  .totalPrice {
    margin-right: 0;
    text-align: center;
  }

  .cart-description {
    align-items: center;

    span {
      font-size: 14px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .cart-item-initial-price {
    font-size: 10px;
  }

  .totalPrice {
    font-size: 12px;
  }

  .mini-cart-prices {
    flex-grow: 1;
  }
}

.mini-cart-drawer-items {
  flex-grow: 1;
}

.mini-cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  * {
    cursor: pointer;
    font-size: 12px;
  }
}

.cart-page {
  a.navigation.next {
    background: $white;
    color: $black;
    border: 1px solid $color-3;
  }
}