.MuiFormControl-root.error .MuiInput-root {
  border-bottom: 2px solid red;

  &:before {
    border-bottom: 0;
  }
}

.MuiInputLabel-formControl {
  left: -6px !important;
  top: 6px !important;

  &.select-label {
    left: 8px !important;
  }
}

.MuiRadio-root {
  svg {
    color: $black;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="checkbox"],
textarea,
.billing-prefecture-label {
  font-family: 'Sackers Gothic Std' !important;
  font-size: 10px !important;
}

.MuiInputBase-multiline {
  padding: 6px !important
}

textarea {
  padding: 0px !important;
}

.MuiFormControlLabel-label {
  font-size: 12px !important;
}

.shipping-methods,
.payment-methods {
  .MuiFormControlLabel-label {
    font-size: 10px !important;
  }
}

.MuiAutocomplete-inputRoot {
  background: none !important;
}

input::placeholder {
  font-family: 'Sackers Gothic Std' !important;
}

input::-webkit-input-placeholder {
  font-family: 'Sackers Gothic Std' !important;
}

input::-moz-placeholder {
  font-family: 'Sackers Gothic Std' !important;
}

input:-ms-input-placeholder {
  font-family: 'Sackers Gothic Std' !important;
}

input:-moz-placeholder {
  font-family: 'Sackers Gothic Std' !important;
}