.pagination {
  margin: 0 0 20px;

  .MuiPagination-ul {
    justify-content: center;
  }

  .MuiPaginationItem-root {
    color: $black;
  }

  .MuiPaginationItem-page {
    &.Mui-selected {
      background-color: $black !important;
      color: $white !important;

      &:hover {
        background-color: $black !important;
      }
    }

    &:hover {
      background-color: $color-3 !important;
    }
  }
}
