.card-actions {
  align-items: center !important;
  justify-content: space-between;
}

.product {
  width: 100%;
  overflow: hidden;
  display: inherit;
  box-shadow: 0px 0px 10px 4px $shadow;
  padding: 0;
  &.navlink {
    text-decoration: none;

    p {
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      margin-bottom: 10px;
      text-align: center;
      color: $color-6 !important;

      &.product-code {
        font-size: 11px;
        display: block;
        line-clamp: unset;
        overflow: auto;
        color: $color-4 !important;
        margin-bottom: 0;
        padding-right: 4px;
      }
    }

    &:hover {
      .MuiCardMedia-root > div {
        transform: scale(1.4);
      }
    }
  }
}

.product-action {
  border-radius: 50% !important;
  border: 1px solid #cecece !important;

  &.MuiIconButton-root {
    padding: 6px;
    color: $color-1;
  }
}

.add-to-cart {
  border: none;
  padding: 2px;
  background: none;
  color: $color-1;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: $color-1;
    & > span {
      margin-right: 10px;
      font-size: 14px;
      text-decoration: line-through;
      color: $color-2;
    }
  }

  .discount {
    color: $alert;
    font-size: 14px;
    font-weight: bold;
    padding: 0 4px;
    background: $shadow;
    margin-left: 10px;
  }
}

.productPage {
  .slick-track {
    margin-left: 0;
  }

  .MuiGrid-container .price-container {
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .MuiGrid-container .product-code {
    margin-bottom: 20px;
  }

  .product-title {
    .headerTitle {
      text-align: left;
      font-size: 30px !important;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

.productPage .products-grid {
  display: block;

  .slick-list {
    margin: 0 -10px;
  }
  .slick-slide > div {
    padding: 0 10px;
  }
}

.mainProductRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.mainProductPhotosContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;

  img {
    width: 100%;
  }

  + div {
    padding-left: 0;
  }
}

.product-page-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;

  .add-to-cart {
    width: auto;
  }
}

.headerTitle {
  font-size: 18px !important;
  font-weight: bold !important;
  color: $black;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  text-align: center;
}

.subHeader {
  font-size: 12px !important;
  color: $color-3 !important;
  text-align: center;
}

.productImage {
  transition: all 0.2s ease-in-out;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.product-description {
  margin-bottom: 10px;
  text-align: left;
  color: $color-6 !important;
}
