.card-actions {
  position: absolute;
  top: -5px;
  right: 0;
}

.product {
  width: 100%;
  overflow: hidden;

  &.navlink {
    text-decoration: none;

    p {
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      margin-bottom: 10px;

      &.product-code {
        font-size: 11px;
        display: block;
        line-clamp: unset;
        overflow: auto;
        color: #ccc;
        margin-bottom: 0;
        padding-right: 4px;
      }
    }

    &:hover {
      .MuiCardMedia-root > div {
        transform: scale(1.4);
      }
    }
  }
}

.product-action {
  border-radius: 50% !important;
  border: 1px solid #cecece !important;
}

.add-to-cart {
  display: block;
  width: 100%;
  text-align: center;
  background: #abe5ab;
  border: none;
  padding: 10px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
    font-weight: bold;

    & > span {
      margin-right: 10px;
      font-size: 14px;
      text-decoration: line-through;
      color: #b3aeae;
    }
  }

  .discount {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    background: red;
    margin-top: -16px;
  }
}

.productPage {
  .price-container {
    p {
      color: #ccc;
    }
  }

  .product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .discount {
    position: static;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
    background: red;
  }
}

.product-page-actions {
  margin-top: 20px;
}

.productPage .relevant-products .discount {
  position: absolute;
}

.productPage .products-grid {
  display: block;

  .slick-list {
    margin: 0 -10px;
  }
  .slick-slide > div {
    padding: 0 10px;
  }
}

.mainProductRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.mainProductPhotosContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;

  img {
    width: 100%;
  }

  + div {
    padding-left: 0;
  }
}
