// GENERAL
.hidden {
  display: none;
}

.wrapper {
  padding: 0 20px;
}

// CATALOG
.filters {
  flex-basis: 33.33%;
  min-width: 300px;
  margin-right: 20px;
}

.catalog-container {
  flex-direction: row;
}

.sorting-section {
  justify-content: flex-end;
  flex-direction: row;
}

// CATEGORIES
.categories-list {
  li {
    flex-basis: 33.33%;
    padding: 0 10px;
  }
}

// TABLE
.table {
  display: table;
  tr {
    display: table-row;
  }
  thead {
    display: table-header-group;
    th {
      display: table-cell;
      font-weight: bold;
      font-size: 18px;
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  tbody {
    display: table-row-group;

    td {
      display: table-cell;
      text-align: center;
      vertical-align: middle;

      &:first-child {
        padding-right: 0;
      }

      &:last-child {
        position: static;
      }
    }
  }

  .hidden {
    text-align: left;
  }
}

// CART
.cart-description {
  align-items: center;
}

//
.products-grid > li {
  flex-basis: 33%;
  padding-left: 10px;
  padding-right: 10px;
}

// CHECKOUT
.checkout-stepper-container {
  ul {
    flex-direction: row;
  }
}

.billing-inputs {
  max-width: 50%;
  flex-direction: row;
  flex-wrap: wrap;

  & .MuiFormControl-root {
    flex-basis: 100%;
  }
}

.flex-billing-shipping {
  flex-wrap: nowrap;
}

.payment-shipping-container {
  flex-direction: row;
}

.shipping-methods {
  padding-left: 16px;
}

// ACTIONS
.actions {
  flex-direction: row;
}
