.table {
  thead {
    th {
      font-weight: bold;
      font-size: 18px;
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  tbody {
    td {
      text-align: center;
      font-weight: normal;
      font-size: 14px;
      vertical-align: middle;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
