.MuiTab-textColorPrimary {
  color: $black !important;
  font-family: 'Quicksand' !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: $black !important;
  font-family: 'Quicksand' !important;
}

.PrivateTabIndicator-colorPrimary-3 {
  background-color: $black !important;
  font-family: 'Quicksand' !important;
}

.MuiTabs-indicator {
  background-color: $black !important;
  font-family: 'Quicksand' !important;
}
