@use '@/styles/colors.scss' as colors;

.MuiTab-textColorPrimary {
  color: colors.$black !important;
  font-family: 'Quicksand', 'Open Sans' !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: colors.$black !important;
  font-family: 'Quicksand', 'Open Sans' !important;
}

.PrivateTabIndicator-colorPrimary-3 {
  background-color: colors.$black !important;
  font-family: 'Quicksand', 'Open Sans' !important;
}

.MuiTabs-indicator {
  background-color: colors.$black !important;
  font-family: 'Quicksand', 'Open Sans' !important;
  height: 1px !important;
}
