@use '@/styles/colors.scss' as colors;

.login-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  label,
  input {
    font-size: 0.9rem;
  }
}

.form-control {
  margin-bottom: 20px;
}

.error-span {
  font-size: 0.85rem;
  color: colors.$alert;
  margin-top: 8px;
}

.user-menu {
  z-index: 100000 !important;

  .MuiMenu-paper {
    box-shadow: none;
  }

  .MuiMenu-list {
    padding: 0;

    li {
      color: colors.$black;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1;
      padding: 0;
      display: block;
      width: 100%;
      min-height: unset;

      a {
        padding: 12px 16px;
        display: block;
        text-align: left;
      }

      &:first-child {
        padding: 16px;
        font-size: 1.1rem;
        color: colors.$white;
        background: colors.$black;
        text-align: center;
        cursor: default;

        &:hover {
          background: colors.$black;
        }
      }
    }
  }
}

.chip {
  color: colors.$white !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;

  &.chip1 {
    background: colors.$registered;
  }

  &.chip2 {
    background: colors.$sent;
  }

  &.chip3 {
    background: colors.$completed;
  }

  &.chip4 {
    background: colors.$alert;
  }
}

.minor-link {
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}
