.mainProductRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.mainProductPhotosContainer {
  img {
    max-width: 100%;
  }
}

// .mainProductMainContentContainer {
//   flex-grow: 1;
//   padding-left: 10px;
// }
