* {
  box-sizing: border-box;
}

.content {
  margin-top: 20px;
}

.row {
  width: 100%;
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;

  &.nopadding {
    padding: 0;
  }
}

.grid-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@import 'src/styles/catalog.scss';
@media only screen and (min-width: 769px) {
  @import 'src/styles/responsive.scss';
}
