* {
  box-sizing: border-box;
}

.content {
  margin-top: 20px;
}

.hidden {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;

  &.nopadding {
    padding: 0;
  }
}

.grid-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.MuiDrawer-paperAnchorLeft {
  right: 50px !important;
}

.text-center {
  text-align: center;
}

.pagination {
  margin: 0 auto;

  .MuiPagination-ul {
    justify-content: center;
  }
}

// ACTIONS
.actions {
  display: flex;
  justify-content: flex-end;

  &.separate {
    justify-content: space-between;
  }
}

@import 'src/styles/buttons.scss';
@import 'src/styles/slick.scss';
@import 'src/styles/table.scss';
@import 'src/styles/cart.scss';
@import 'src/styles/catalog.scss';
@import 'src/styles/product.scss';
@import 'src/styles/contact.scss';
@import 'src/styles/categories.scss';
@import 'src/styles/checkout.scss';
@import 'src/styles/user.scss';
@import 'src/styles/alert.scss';
@import 'src/styles/loader.scss';
@import 'src/styles/header.scss';
@import 'src/styles/menu.scss';
@media only screen and (min-width: 769px) {
  @import 'src/styles/responsive.scss';
}
