@import 'src/styles/colors.scss';

.tabsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}

.tabPanel,
.home-section {
  .slick-slide:nth-child(even) {
    margin-top: 60px;
  }
}

.productContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.offers-bg {
  background: $white;
}