@import 'src/styles/colors.scss';

.tabsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}

.tabPanel,
.home-section {
  .slick-slide:nth-child(even) {
    margin-top: 60px;

    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
}

.productContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.offers-bg {
  background: $white;
}

.offers {
  .slick-arrow {
    top: 100%;
    background: $black;
    font-size: 8px;
    color: #fff;
    width: 50px;
    border-radius: 10px;
    padding: 0 6px;

    &:before {
      display: none;
    }
  }


}